.vscode
**/*.ts
**/*.map
out/**
!out/client/src/extension.js
!out/server/src/server.js
node_modules/**
test_files/**
client/src/**
client/node_modules/**
server/src/**
server/node_modules/**
tsconfig.json
webpack.config.js
.gitignore
